<footer class="footer dow-footer">
    <div class="container">
        <div class="row">
            <p>
                Organizational Owner: EUD Intranet<br>
                Content Questions: <a href="mailto:?subject=EUD Intranet" title=""></a><br>
                Technical Questions: <a href="mailto:?subject=EUD Intranet" title=""></a><br>
                <script type="text/javascript">document.write('Last Modified: ' + document.lastModified.replace(/ .*$/g, '') + '<br>')</script>
                DOW RESTRICTED - For internal use only<br>
                ® ™ Trademark of The Dow Chemical Company ("Dow") or an affiliated company of Dow
            </p>
        </div>
    </div>
</footer>