<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Dow.SSD.Framework.Web-dd8eb619-ffb4-437c-8647-2a6dc8c5ac0b.mdf;Initial Catalog=aspnet-Dow.SSD.Framework.Web-dd8eb619-ffb4-437c-8647-2a6dc8c5ac0b;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WebSiteTitle" value="Sample" />
    <add key="Keyword" value="" />
    <add key="DomainName" value="" />
    <add key="DomainAlias" value="" />
    <add key="DomainHint" value="" />
    <add key="Description" value="" />
    <add key="LDAPUser" value="" />
    <add key="LDAPUserPwd" value="" />
    <add key="DirectoryServerUserName" value="" />
    <add key="DirectoryServerPassword" value="" />
    <add key="DirectoryServerPath" value="" />
    <add key="SmtpServerProd" value="" />
    <add key="SmtpServerLocal" value="" />
    <add key="MailFrom" value="" />
    <!-- "Dow EUD Debug App" as a sample, registered client ID in AAD -->
    <add key="ClientId" value="" />
    <!-- Application Key, got it after app is registered in AAD -->
    <add key="ClientSecret" value="" />
    <!-- Key vault store object Uri -->
    <add key="VaultUri" value="" />
    <!-- Key vault secret name, got it after storage account is added into key vault -->
    <add key ="KeyVaultSecretName" value=""/>
    <add key="StorageConnectionString" value="" />
    <!-- File share in Azure storage to store uploaded files, it is created by TM team by default -->
    <add key="StorageFileShareName" value="" />
    <!-- Quota/Size of file share in Azure storage, 1GB by default -->
    <add key="StorageFileShareSize" value="" />

    <add key="StorageAccountName" value=""/>
    <!-- Below SAS was generated under Small Solution Development Subscription and it will expire on 2018-12-11 -->
    <add key="SharedAccessSignature" value=""/>
    <!-- Blob Container name in Azure storage to store uploaded files, the name of a container must always be lowercase and it is created by TM team by default -->
    <add key="StorageBlobContainerName" value=""/>
    
        
    <add key="Authority" value="" />
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>